
* {
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
scroll-behavior: smooth;
}

body {
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
background-color: rgb(255, 255, 255);
}

section .title {
text-align: center;
font-size: 40px;
font-weight: 600;
margin-bottom: 60px;
padding-bottom: 20px;
}

.hr1 {
width: 100%;
margin-bottom:30px;
border: 0;
height: 3px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr2 {
width: 100%;
margin-bottom:30px;
border: 0;
height: 3px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/*=================================
NavBar Section 
================================ */


.max-width {
max-width: 1300px;
padding: 0 80px;
margin: auto;
}

.navbar .max-width {
display: flex;
align-items: center;
justify-content: space-between;
justify-content: right;
} 

.navbar {
position: fixed;
width: 100%;
padding: 30px 0;
background-color: rgb(39, 35, 31) ;
font-size: 300;
}

.navbar .menu li {
list-style: none;
display: inline-block;
}

.menu i {
display: none;
}

.navbar .menu li a {
display: block;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 500;
margin-left: 25px;
justify-content: right;
}

.navbar .menu li a:hover {
color: rgb(214, 214, 214);
transition: 0.4s;
}

/* menu btb */

.menu-btn  {
color: rgb(255, 255, 255);
font-size: 30px;
cursor: pointer;
display: none;
width: 100%;
}


/*=================================
Home Section 
================================ */


section.home{
height: 100vh;
background-position: center;
background-color: rgb(27, 27, 27);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.home-content .logo img {
height: 400px;
width: 400px;
}

.home {
display: flex;
background: rgb(242, 250, 255);
color: rgb(255, 255, 255);
min-height: 500px;
text-align: center;
margin-bottom: 100px;
}

.home-content {
text-align: center;
} 

.home .home-content .text-1 {
font-size: 48px;
padding-top: 32px;
}

.home .home-content .text-2 {
font-size: 30px;
font-weight: 600;
padding: 16px;
margin-left: -3px;
}

.home .home-content .text-3 {
font-size: 36px;
margin: 2px 0;
}


/* ====================
About Section
======================*/  


section.about {
padding-top:24px ;
background-color: rgb(255, 255, 255);
padding-bottom: 30px;
}

.about .title {
text-align: center;
font-size: 40px;
font-weight: 600;
}

.about .about-content {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.about .about-content .left { 
width: 50%;
}

.about .about-content .left img {
height:450px;
width: 500px;
object-fit: cover;
border-radius: 2px;
}

.about .about-content .right { 
width: 45%;
}

.about .about-content .right .description {
font-size: 30px;
font-weight: 500;
margin-bottom: 24px;
}




/* ====================
Counter 
======================*/  


section.counter{
background-color: rgb(53, 43, 35) ;
padding: 0 12%;
margin: auto;
}

.counter-wrp ul {
list-style-type: none;
display: flex;
padding: 10px;
margin: 0;
}

.counter-wrp li {
width: 33.33%;
height: 100%;
padding: 30px 0px;
text-align: center;
transition: 0.2s linear;
}

.counter-wrp li:hover {
transform: scale(1.1);
}

.counter-wrp li p.number {
vertical-align: middle;
padding: 0;
font-weight: 400;
font-size: 24px;
}

.counter-wrp li p {
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 500;
margin: 0;
padding: 10px;
font-family: 'Open Sans';
}

.counter-wrp li i {
vertical-align: middle;
padding: 40px;
font-size: 30px;
color: rgb(255, 255, 255)
}

.counter-wrp ul li span {
width: 50px;
background-color: #fff;
height: 1px;
display: block;
margin: 6px auto;
}

/* ====================
service Section
======================*/  


section.service{
padding-top:100PX ;
}

.service {
background: rgb(255, 255, 255);
padding-bottom: 30PX;
}

.service .service-container {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.service .service-container .column {
width: calc(50% - 72px);
}

.service-description p {
font-size: 18px;
font-weight: 300;
padding-top: 24px;
text-align: justify;
}

.service .service-container .right{ 
width: 50%;
}

.service .service-container .right img {
height:500px;
width: 570px;
object-fit: cover;
border-radius: 5px;
}

.service .service-container .left a {
display: inline-block;
background: rgb(71, 155, 211);
color: #000;
font-size: 18px;
padding: 8px 28px;
margin-top: 24px;
border-radius: 6px;
transition: 0.4s;
font-weight: 500;
}

.service-description {
font-size: 30px;
font-weight: 500;
margin-bottom: 24px;
text-align: justify;
}


/* ====================
Baner======================*/
.logoBaner {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
   max-width: 100%;
  
  }

.logoBaner img {
  max-width: 100%;
  height: auto
}



/* ====================
Steps
======================*/ 


section.step{
max-width: 1300px;
padding: 0 80px;
margin: auto;
}

.steps-row ul {
list-style-type: none;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap :10px;  
padding-bottom: 100px;
}

.steps-row li {
width: 100%;
height: 100%;
text-align: center;
transition: 0.2s linear;
background-color: #f8f8f8;
border-radius: 5px;
}

.steps-row li p.number {
vertical-align: middle;
padding: 0;
font-weight: 600;
font-size: 20px;
}

.steps-row li p {
color: rgb(58, 58, 58);
font-size: 16px;
font-weight: 300;
margin: 0;
padding: 24px;
font-family: 'Open Sans';
}

.steps-row li i {
vertical-align: middle;
padding: 40px;
font-size: 30px;
color: rgb(27, 27, 27)
}

.steps-row li span {
color: rgb(44, 44, 44);
}

section.maps {
margin: auto;
max-width: 1300px;
}

.map-description  {
font-size: 30px;
font-weight: 500;
margin-bottom: 24px;
text-align: center;
}

/* ====================
Section Contact
======================*/ 

section.contact{
background-color: rgb(53, 43, 35)  ;
padding: 0 12%;
margin: auto;
}

.contact-row ul {
list-style-type: none;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
padding-bottom: 50px;
}

.contact-row  li {
width: 100%;
height: 100%;
text-align: center;
padding-top: 50px;
}

.contact-row li i {
color: rgb(255, 255, 255);
font-size:  24px;
padding: 5px;
}

.contact-row li p {
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 300;
padding: 5px;
}

.phone a{
font-weight: 700;
color: #fff;
font-size: 20px;
}

span.time {
font-weight: 700;
}

li p.hours{
font-size: 24px;
font-weight: 400;
}

.info a {
display: flex;
justify-content: center;
font-size: 12px;
background-color: rgb(61, 61, 61) ;
color: #fff;
}



/* ====================
Media querry 
======================*/ 



@media (max-width: 1300px){
}

@media (max-width: 1104px){
.about .about-content .left img {
height: 350px;
width: 350px;   
}
.service-list {
font-size: 14px;
width: 450px;
}


}

@media (max-width: 991px){
.home .max-width {
padding: 0 50px
}
.service-list {
font-size: 14px;
width: 450px;
}

.home .home-content .text-1 {
font-size: 30px;
padding-top: 16px;
}
.home .home-content .text-2 {
font-size: 18px;
padding: 8px;
  }
}

@media (max-width: 947px){
.max-width {
padding: 0 50px
}
.logoBaner {
  padding-top: 0px;
  padding-bottom: 0px;
 }
.menu-btn {
display: block;
z-index: 999;
}
.about .about-content .left img {
  padding-top: 40px;
}

.home-content .logo img {
height: 300px;
width:300px;
}

.navbar .menu {
position: fixed;
background: rgb(0, 0, 0);
height: 100vh;
width: 70%;
left: -100%;
top: 0;
text-align: left;
padding-top: 100px;
transition: all 0.4s;
}
.navbar .menu li a {
display: block;
color: rgb(255, 255, 255);
}
.flex-container {
padding: 50px;
}
.menu i {
font-size: 20px;
color: rgb(255, 255, 255);
display: flex;
}
.flex-container .fa-solid {
flex-grow: 0;
display: flex;
align-items: center;
padding-right: 24px;
}
.navbar .menu.active {
left: 0;
}
.navbar .menu li {
display: block;
list-style: none;
display: flex;
}
.navbar .menu li a {
display: inline-block;
margin: 30px 0;
font-size: 20px;
font-family: 'Open Sans', sans-serif;
font-weight: 100;
}
.home .home-content .text-1 {
font-size: 30px;
padding-top: 16px;
}
.home .home-content .text-2 {
font-size: 20px;
padding: 8px;
}
.home .home-content a {
font-size: 24px;
padding: 10px 30px;
}
.about .about-content .column {
width: 50%;
}
.about .about-content .left {
display: flex;
justify-content: center;
margin: 0 auto 60px;
}
.about .about-content .right {
flex: 100%
}
.service .service-container .column {
width: 100%;
margin-bottom: 35px;
  }
  .service .service-container .right img {
    height: 450px;
    width: 100%;
    }
}


@media (max-width: 690px){
.max-width {
padding: 0 50px
}
.logoBaner {
padding-top: 0px;
padding-bottom: 0px;
}

.service .service-container .right img {
  height: 300px;
  width: 100%;
  }
.about .about-content .left img {
padding-top: 40px;
}
.service .service-container .column {
width: 100%;
}
.service-list {
font-size: 14px;
width: 450px;
}
.counter-wrp {
flex-grow: 1;
display: flex;
flex-direction: column;
align-items:center;
  }
}

@media (max-width: 500px){
.home .home-content .text-1 {
padding-top: 16px;
font-size: 24px;

}

.home .home-content .text-2 {
font-size: 16px;
padding: 8px;
}
.service-list {
font-size: 14px;
width: 350px;
}
.counter-wrp li p {
font-size: 12px;
}
.about .about-content .left img {

height: 260px;
width: 260px; 
}

.service .service-container .right img {
height: 300px;
width: 100%;
}
.home-content .logo img {
height: 250px;
width:250px;
}
.logoBaner {
  margin: 0 auto;
   max-width: 100%;
   padding-top: 0px;
   padding-bottom: 0px;
  }
}
